@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Playfair+Display&display=swap');

:root {
    --gray: #969a97;
    --dark-gray: #0f1a20;
    --dark-blue: #0a122a;
    --mint: #e5ece9;
    
    --red: #fe5f55;
    --orange: #ef8a17;
    --yellow: #fabc3c;
    --green: #70ae6e;
    --aqua: #add9f4;
    --blue: #4ea5d9;
    --purple: #7776bc;
    --pink: #df7373;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--dark-blue);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    margin: 0;
    padding: .5rem;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    background-color: var(--dark-blue);
    color: white;
}

#hamButton {
  display: none;
}

#animated {
  display: block;
}

nav ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    align-items: center;
    font-family: "Lexend", sans-serif;
}

nav ul li {
    text-align: center;
    padding: 1rem;
    background-color: var(--gray);
    color: white;
    cursor: pointer;
}

#all:hover, #all.active {
    background-color: whitesmoke;
    color: black;
}

#parks:hover, #parks.active {
    background-color: var(--red);
}

#monuments:hover, #monuments.active {
    background-color: var(--green);
}

#recreation:hover, #recreation.active {
    background-color: var(--yellow);
}

#shores:hover, #shores.active {
    background-color: var(--blue);
}

#historic:hover, #historic.active {
    background-color: var(--orange);
}

#preserves:hover, #preserves.active {
    background-color: var(--aqua);
}

#memorial:hover, #memorial.active {
    background-color: var(--pink);
}

#other:hover, #other.active {
    background-color: var(--purple);
}

main {
    flex: 1;
    display: block;
}

#map {
    height: 100%;
    width: 100%;
    min-height: 60vh;
    border: 1px solid black;
    margin-top: .25rem;
}

footer {
    margin: .25rem 0;
    padding: .75rem;
    background-color: var(--dark-blue);
    color: white;
    font-family: "Lexend", sans-serif;
    bottom: 0;
}

/* Popup Styles */

#popup {
    background-color: whitesmoke;
    padding: 1rem;
    width: 420px;
}

#popup-name {
    margin: 0 auto;
    text-align: left;
    font-family: "Playfair Display", serif;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--gray);
}

#popup-image {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 420px;
    max-width: 100%;
    margin-top: 12px;
    display: block;
}

#popup-description {
    background-color: var(--gray);
    color: white;
    padding: 1rem;
    font-family: "Lexend", sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#popup-states{
    font-family: "Lexend", sans-serif;
    padding-top: 1rem;
    border-top: 1px solid var(--gray);
}

#popup-link {
    font-family: "Lexend", sans-serif;
    color: var(--blue);
}

/* Mobile Styles */

@media (max-width: 860px) {
    
    header h1 {
        margin-bottom: 0;
    }

    header {
        font-size: 1rem;
    }

    #animated {
        display: grid;
        grid-template-rows: 1fr;
        transition: grid-template-rows .5s ease-out;
    }

    #animated ul {
        overflow: hidden;
    }

    #animated.open {
        grid-template-rows: 1fr;
    }

    #animated ul.menu {
        display: block;
    }

    #animated ul.menu li {
        display: none;
    }

    #animated ul.menu li.active {
        display: block;
        text-align: left;
    }

    #animated.open ul.menu li {
        display: block;
    }

    #hamButton {
        display: inline-block;
        font-size: 2rem;
        background: none;
        border: none;
        cursor: pointer;
        width: 100%;
        padding: .25rem 2vw;
        grid-column: 4;
        align-self: end;
        text-align: right;
        margin-bottom: 0;
    }

    #hamButton::before {
        content: "\002630";
        color: white;
    }

    #hamButton.open::before {
        content: "x";
        color: white;
    }

    ul.menu li {
        display: block;
        text-align: right;
        color: white;
        padding: .75rem 2vw;
        text-decoration: none;
        font-family: "Lexend", sans-serif;
    }

    nav ul {
        overflow: hidden;
    }

    nav.open {
        grid-template-rows: 1fr;
    }

    main {
        flex: 0 !important;
        height: auto !important;
        min-height: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    #map {
        height: 60vh;
        min-height: 0 !important;
    }

    /* Mobile Popup Styles */

    #popup {
        width: 250px;
        max-width: 100vw;
        box-sizing: border-box;
        padding: 0;
        background-color: white;
    }
    #popup-name {
        font-size: .85rem;
    }
        
    #popup-description {
        width: 250px;
        font-size: .75rem;
        padding: 0;
        background-color: white;
        color: var(--dark-gray);
    }
    #popup-image {
        width: 250px;
        max-width: 100%;
        height: auto;
    }
}

